*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: #fff;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
    text-align: center;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 5px 0;
    border-radius: 4px;
    padding: 3px;
    color: #fff;

}
input:focus{
    background: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: red;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content:'total:';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: red;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background: rgb(111, 68, 68);
    letter-spacing: 1px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;

}
.btnsearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#deleteall{
    margin: 20px 0;
}